.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    text-decoration: none;
    margin: 40px;
    


}

.cargando {
background-image: url("https://andro4all.com/hero/2019/02/Fondos-de-pantalla-de-Pokemon.jpg?width=1200");
    position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.cardDetail {
  margin: 20px;
  text-decoration: none;
  
}
.Recarga{
  position:inherit;
  background-image: linear-gradient(
    to right,
    #fee607,
    #b89405
  ); 
  color: #060606; 
  font-size: 14px; 
  padding: 6px 12px; 
  border-radius: 25px; 
  border: none; 
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25); 
  transition: all 0.2s ease; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
  font-weight: 600; 
  cursor: pointer; 
  margin: 20px;
 }

